@tailwind base;
@tailwind components;
@tailwind utilities;

.carlito {
  font-family: var(--font-carlito);
}

body {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
